:root {
    --cellWidth: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    position: absolute;
    right: 30px;
}

#canvas {
    width: 500px;
    height: 500px;
    border: 1px solid gray;
}

.masque {
    font-size: 1.5rem;
    letter-spacing: 10px;
}

.boutons {
    display: grid;
    grid-template-columns: repeat(13, var(--cellWidth));
    grid-template-rows: repeat(2, var(--cellWidth));
    grid-gap: 2px;
}

button.used {
    color: gray;
}

.gagne {
    text-align: center;
}